---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Technical blog about Java" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Hogwai Tech Blog RSS Feed"
      href="/rss.xml"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script is:inline>
      const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="be4da73f-7653-4f79-8c0e-8e517de6dbba"></script>

    <style is:global>
      html {
        scroll-padding-top: 5rem;
      }
    </style>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>
